<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head th:replace="~{/admin/fragments/head.html :: head}">
    <title>Title</title>
</head>
<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="gooey">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- End preloader -->

    <div id="main-wrapper">
        <div th:replace="~{/admin/fragments/nav-header.html :: nav-header}"></div>

        <div th:replace="~{/admin/fragments/header.html :: header}"></div>

        <div th:replace="~{/admin/fragments/sidebar.html :: sidebar}"></div>

        <div layout:fragment="content"></div>
    </div>

    <div th:replace="~{/admin/fragments/script.html :: script}"></div>
</body>

</html>