<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/layouts/main_layout}">
<head>
    <meta charset="UTF-8">
    <title>Ordering Food Website</title>
</head>
<body>
    <div class="content-body" layout:fragment="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 th:text="${isUpdating} ? 'Sửa món ăn' : 'Thêm món ăn'"></h4>
                        </div>
                        <div class="card-body">
                            <div class="form-validation">
                                <form th:action="@{/admin/product/save}" method="post" th:object="${productDTO}" enctype="multipart/form-data" class="needs-validation">
                                    <input type="hidden" th:field="*{id}" />
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="img-upload">
                                                <div class="main-img">
                                                    <div class="avatar-upload">
                                                        <div class="avatar-edit">
                                                            <input type="file" name="image" th:field="*{file}" id="imageUpload" class="image-upload" accept=".png, .jpg, .jpeg">
                                                            <label for="imageUpload">
                                                                <img th:src="@{/admin/images/edit.svg}" src="" class="svg_img header_svg" alt="edit">
                                                            </label>
                                                        </div>

                                                        <div class="avatar-preview preview">
                                                            <div class="imagePreview div-preview">
                                                                <img class="image-preview" id="default-image"  th:src="@{/admin/images/vendor-upload-preview.jpg}" src="" alt="edit">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-8 col-lg-8">
                                            <div class="row">
                                                <!--  Tên món ăn -->
                                                <div class="col-lg-6">
                                                    <label class="col-lg-4 col-form-label" for="name">Tên món ăn
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-12">
                                                        <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Tên món ăn.." required>
                                                    </div>
                                                </div>
                                                <!--  Giá thành -->
                                                <div class="col-lg-6">
                                                    <label class="col-lg-4 col-form-label" for="price">Giá thành
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-12">
                                                        <input type="number" th:field="*{price}" class="form-control" id="price" placeholder="Giá thành.." required>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--  File âm thanh -->
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <label class="col-lg-4 col-form-label" for="audio">Link audio
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-12">
                                                        <input type="text" th:field="*{audioUrl}" class="form-control" id="audio" placeholder="File âm thanh">
                                                    </div>
                                                </div>
                                            </div>
                                            <!--  Mô tả món ăn -->
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <label class="col-lg-4 col-form-label" for="description">Mô tả
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <textarea id="description" th:field="*{description}" class="col-lg-12" rows="4"></textarea>
                                                </div>
                                            </div>

                                            <div class="mt-3 d-flex justify-content-end">
                                                <button type="submit" class="btn btn-rounded btn-success">Xác nhận</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>