<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/user/layouts/main_layout}">
<head>
    <meta charset="UTF-8">
    <title>Ordering Food Website</title>
</head>
<body>
<main layout:fragment="content" th:object="${product}">
    <section class="banner" style="background-image:url(/user/img/background.png)">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="title-area-data">
                        <h2>Product Details</h2>
                        <p>A magical combination that sent aromas to the taste buds</p>
                    </div>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a th:href="@{/}"><i class="fa-solid fa-house"></i>Trang Chủ</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Của Hàng</li>
                        <li class="breadcrumb-item active" aria-current="page">Chi tiết sản phẩm</li>
                    </ol>
                </div>
                <div class="col-lg-5">
                    <div class="row">
                        <div class="col-6">
                            <div class="title-area-img">
                                <img alt="title-area-img" src="" th:src="@{/user/img/title-area-img-1.jpg}">
                                <img alt="pata" class="pata" src="" th:src="@{/user/img/pata.png}">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="title-area-img two">
                                <img alt="title-area-img" src="" th:src="@{/user/img/title-area-img-2.jpg}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="gap featured-dishes-product-detail-img" >
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6">
                    <div class="featured-dishes product-detail-img">
                        <div class="sale">
                            <h6>Sale</h6>
                        </div>
                        <div class="featured-dishes-img">
                            <img alt="featured-dishes" src="" th:src="*{imgUrl}">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="available">
                        <span><i class="fa-solid fa-check"></i>Available</span>
                        <ul class="star">
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                        <h6>( 1 Review )</h6>
                    </div>

                    <div class="product-info ">
                        <h3 th:text="*{name}"></h3>

                        <form class="variations_form">
                            <div class="deal-week mb-4 d-flex align-items-center">
                                <h2 th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT') + 'đ'}" class="m-0"></h2>
                                <del>$14.85</del>
                            </div>

                            <h5>What’s Included</h5>

                            <p>Sausage, three rashers of streaky bacon, two fried eggs</p>

                            <div class="d-flex align-items-center mt-4">
                                <label for="number"></label>
                                <input type="number" id="number" class="input-text me-4" step="1" min="1"
                                       name="quantity" value="1">
                                <button class="button">Add to Cart</button>
                            </div>

                            <ul class="product_meta">
                                <li><span class="theme-bg-clr">Tags:</span>
                                    <ul class="pd-tag">
                                        <li>
                                            <a href="#" class="ps-0">featured products</a>
                                            ,<a href="#">meat</a>
                                            ,<a href="#">new products</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="about-chef">
        <div class="container">
            <h2 class="pb-3">Mô tả</h2>
            <p th:text="*{description}"></p>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="product-img">
                        <img alt="product-img" src="" th:src="@{/user/img/product-2.jpg}">
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="product-img">
                        <img alt="product-img" src="" th:src="@{/user/img/product-3.jpg}">
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="product-img">
                        <img alt="product-img" src="" th:src="@{/user/img/product-4.jpg}">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="benefits">
                <div>
                    <h2 class="pb-3">Benefits</h2>
                    <ul class="quality-foods">
                        <li><img alt="img" src="" th:src="@{/user/img/check.png}"><h6>Quality foods natural gradient</h6>
                        </li>
                        <li><img alt="img" src="" th:src="@{/user/img/check.png}"><h6>A melting pot of cheese served with
                            our Little Soul</h6></li>
                        <li><img alt="img" src="" th:src="@{/user/img/check.png}"><h6>Award-winning Restaurant</h6></li>
                        <li><img alt="img" src="" th:src="@{/user/img/check.png}"><h6>caramelised balsamic onions</h6>
                        </li>
                        <li><img alt="img" src="" th:src="@{/user/img/check.png}"><h6>Healthy Food 100% Organic Food</h6>
                        </li>
                        <li><img alt="img" src="" th:src="@{/user/img/check.png}"><h6>roasted on a skewer, hanging above
                            a spicy chilli seafood</h6></li>
                        <li><img alt="img" src="" th:src="@{/user/img/check.png}"><h6>individually styled bedrooms</h6>
                        </li>
                    </ul>
                </div>
                <div class="benefit-img">
                    <img alt="benefit" src="" th:src="@{/user/img/benefit.png}">
                </div>
            </div>
        </div>
    </section>

    <section class="gap no-top">
        <div class="container">
            <div class="review">
                <h3>Review</h3>
                <div class="single-comment">
                    <img alt="img" src="" th:src="@{/user/img/review.jpg}">
                    <div class="ps-md-4">
                        <div class="d-flex align-items-center">
                            <h4>Smith Johnson</h4>
                            <span>Jun 07, 2023</span>
                        </div>
                        <p>Integer sollicitudin ligula non enim sodales non lacinia commodo tempor mod licitudin.
                            Integer sollicitudin ligula non enim sodales non lacinia commodo tempor mod licitudin.</p>
                    </div>
                    <ul class="star">
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                    </ul>
                </div>
                <div class="single-comment">
                    <img alt="img" src="" th:src="@{/user/img/review.jpg}">
                    <div class="ps-md-4">
                        <div class="d-flex align-items-center">
                            <h4>Smith Johnson</h4>
                            <span>Jun 07, 2023</span>
                        </div>
                        <p>Integer sollicitudin ligula non enim sodales non lacinia commodo tempor mod licitudin.
                            Integer sollicitudin ligula non enim sodales non lacinia commodo tempor mod licitudin.</p>
                    </div>
                    <ul class="star">
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                    </ul>
                </div>
                <form class="add-review leave-comment">
                    <div class="rating">
                        <h3>Add Review</h3>
                        <div class="d-flex align-items-center">
                            <span>Your Rating</span>
                            <div class="start d-flex align-items-center ps-md-4">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 ps-lg-0">
                            <label for="name"></label>
                            <input type="text" id="name" name="name" placeholder="Complate Name">
                        </div>
                        <div class="col-lg-6 pe-lg-0">
                            <label for="email"></label>
                            <input type="text" id="email" name="Email" placeholder="Email Address">
                        </div>
                        <label for="review"></label>
                        <textarea id="review" placeholder="Add Review"></textarea>
                        <button class="button">
                            <span>Post Review</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
</body>
</html>