<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/user/layouts/main_layout}">
<head>
    <meta charset="UTF-8">
    <title>Ordering Food Website</title>
</head>
<body>
<main layout:fragment="content">
    <section class="banner" style="background-image:url(/user/img/background.png)">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="title-area-data">
                        <h2>Shop</h2>
                        <p>A magical combination that sent aromas to the taste buds</p>
                    </div>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a th:href="@{/}"><i class="fa-solid fa-house"></i> Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Cửa hàng</li>
                    </ol>
                </div>
                <div class="col-lg-5">
                    <div class="row">
                        <div class="col-6">
                            <div class="title-area-img">
                                <img alt="title-area-img" src="" th:src="@{/user/img/title-area-img-1.jpg}">
                                <img alt="pata" class="pata" src="" th:src="@{/user/img/pata.png}">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="title-area-img two">
                                <img alt="title-area-img" src="" th:src="@{user/img/title-area-img-2.jpg}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="gap">
        <div class="container">
            <div class="row">
                <div th:each="product: ${products}" class="col-xl-4 col-md-6">
                    <div class="featured-dishes">
                        <div class="featured-dishes-img">
                            <img alt="featured-dishes" src="" th:src="${product.imgUrl}">
<!--                            <img alt="featured-dishes" th:src="@{/user/img/featured-dishes-1.png}">-->
                        </div>
                        <ul class="star">
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                        <a th:href="@{/shop/product-detail/{slug}(slug=${product.slug})}">
                            <h5 th:text="${product.name}"></h5>
                        </a>

                        <p><span th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT') + 'đ'}"></span></p>
                        <a href="#">
                            <i>
                                <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                    <g>
                                        <path d="m452 120h-60.946c-7.945-67.478-65.477-120-135.054-120s-127.109 52.522-135.054 120h-60.946c-11.046 0-20 8.954-20 20v352c0 11.046 8.954 20 20 20h392c11.046 0 20-8.954 20-20v-352c0-11.046-8.954-20-20-20zm-196-80c47.484 0 87.019 34.655 94.659 80h-189.318c7.64-45.345 47.175-80 94.659-80zm176 432h-352v-312h40v60c0 11.046 8.954 20 20 20s20-8.954 20-20v-60h192v60c0 11.046 8.954 20 20 20s20-8.954 20-20v-60h40z"></path>
                                    </g>
                                </svg>
                            </i></a>
                    </div>
                </div>

                <ul class="pagination m-auto mt-5">
                    <li th:if="${currentPage > 1}" class="prev">
                        <a th:href="@{'?pageNo='+${currentPage - 1}}">
                            <i class="fa-solid fa-angles-left"></i>
                        </a>
                    </li>
                    <li th:each="i:${#numbers.sequence(1, totalPage)}" th:classappend="${currentPage == i} ? 'active' : ''">
                        <a th:href="@{${keyword != null && keyword != '' ? '?keyword=' + keyword + '&' : '?'} + 'pageNo='+${i}}" th:text="${i}"></a>
                    </li>
                    <li th:if="${currentPage < totalPage}" class="next">
                        <a th:href="@{'?pageNo='+${currentPage + 1}}">
                            <i class="fa-solid fa-angles-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</main>
</body>
</html>