<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
  <meta charset="utf-8">

  <!-- PAGE TITLE HERE -->
  <title>Ordering Food Website</title>

  <!-- Datatable -->
  <link th:href="@{/admin/vendor/datatables/css/jquery.dataTables.min.css}" rel="stylesheet">

  <!-- FAVICONS ICON -->
  <link rel="shortcut icon" type="image/png" th:href="@{/admin/images/favicon.png}" />

  <!-- Custom Stylesheet -->
  <link rel="stylesheet" th:href="@{/admin/vendor/chartist/css/chartist.min.css}">
  <link th:href="@{/admin/vendor/jquery-nice-select/css/nice-select.css}" rel="stylesheet">

  <!-- Style css -->
  <link th:href="@{/admin/css/style.css}" rel="stylesheet">
</head>
<body>

</body>
</html>